<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-76521620-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-76521620-4');
    </script>

    <title>WithOneAccount</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <!-- INFO: https://fontawesome.com/start -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- INFO: https://developers.google.com/web/fundamentals/web-app-manifest/?hl=ja -->
    <link rel="manifest" href="/manifest.json">

    <!-- INFO: https://qiita.com/bonkeenu/items/0c8766e5f3e94c0e68c9 -->
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" sizes="192x192"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="root"></div>
    <%= javascript_include_tag "webpack/app" %>
    <%= yield %>
  </body>
  <script>

    // INFO: https://qiita.com/peutes/items/d74e5758a36478fbc039
    // document.addEventListener('touchend', event => {
    //   event.preventDefault();
    // }, false);
    disableUsersZoom();
    function disableUsersZoom() {
      // for zoom with multiple fingers
      document.addEventListener('touchstart', event => {
        if (event.touches.length > 1) {
          event.preventDefault();
        }
      }, true);

      // for zoom with double tap.
      let lastTouch = 0;
      document.addEventListener('touchend', event => {
        const now = window.performance.now();
        if (now - lastTouch <= 500) {
          event.preventDefault();
        }
        lastTouch = now;
      }, true);
    }

  </script>
</html>
